<div>
	<div class="ui three column very relaxed grid">
	<div class="column">
	</div>
		<div class="column">
		<h1 style="text-align:center">Sistema de Desarrolladores</h1>
		<hr>
		<img src="img/dev.png" width="400px">
	</div>
		<div class="column">
		</div>
	</div>	
</div>